section#support-chat {
    width: 100%;
}

/* ----------------------------------------------------------- */
/* USER SELECTOR (LEFT ADMIN TAB) */

#user-selector {
    min-width: 250px;
    max-height: 514px;
    overflow: hidden;
    overflow-y: scroll;
}

.user-selector {
    min-width: 250px;
    height: max-content;
    cursor: pointer;
    padding: .5rem;
    border-radius: 4px;
    color: #666;
    transition: all 0.05s ease;
}

.user-selector:hover {
    background-color: #333;
    color: #fff;
}

.user-selector:hover > div span:nth-child(2) {
    color: #666;
}

.user-selector.highlight {
    background-color: #333;
    color: #fff;
}

.user-selector > div {
    width: 70%;
}

.user-selector > div span:nth-child(2) {
    color: #555;
    line-height: 1.1rem;
}

.user-selector.highlight > div span:nth-child(2) {
    color: #888;
}

.user-selector > span {
    border: 1px solid gray;
    border-radius: 4px;

    width: 43px;
    height: 43px;

    text-align: center;
}

/* ----------------------------------------------------------- */
/* MESSAGES */

section#support-chat ul.messages {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 1.25rem;
}

#chat {
    width: calc(100%);
}

ul.messages li {
    font-size: 1rem;
    margin-bottom: 3px;
}
ul.messages li:last-of-type {
    margin-bottom: 10px;
}
ul.messages li .username {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 700;
}

ul.messages li:not(:first-child) .username {
    border-top: 1px solid #333;
    padding-top: 10px;
}

.is-typing {
    height: 1.5rem;
    font-size: .69rem;
    padding: 0 2rem;
    color: #555;
}

/* ----------------------------------------------------------- */
/* FORM */

#message-form {
    margin: 0 1rem 1rem;
}