#support {

}

#support div header {
    width: 100%;
}

ul.messages {
    height: 400px;
    width: 100vw;
    overflow-y: scroll;
}

@media (min-width: 50em) {
    ul.messages {
        width: 50rem;
    }
}