#support > div {
    border-radius: 8px;
    width: 100%;
    border: 1px solid gray;
    background-color: #222;
}

@media (min-width: 50em) {
    #support > div {
        width: 50rem;
    }
}

@media (min-width: 65em) {
    #support > div {
        width: 65rem;
    }
}