#support {

}

.user-selector {
    max-width: 200px;
    height: 43px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.user-selector.highlight {
    background-color: gray;
}

#support div header {
    width: 100%;
}

ul.messages {
    height: 400px;
    width: 500px;
    overflow-y: scroll;
}