.cart-title {
    width: 100%;

    background: #222;

    border: 1px solid #666;

    font-weight: 400;

    border-radius: 100px;

    flex-direction: row;

    margin-bottom: 1rem;
    position: relative;

    backdrop-filter: blur(1px);

}

.cart-title h1 {
    line-height: 0;
    font-size: 1rem;
}

.cart-price {

}

.cart-price .price-calculation {

    font-size: 1rem;

}

.price-item-quantity {

}

.cart-title div {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #fff 10%, #666);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: .5rem 0;
}

.cart-price .price-calculation-total {
    font-size: .8rem;
    color: #666;
}

.cart-title p {
    font-size: 1rem;
}

.cart-title button {
    margin: 0;
    height: max-content;
}

.cart-title button {
    display: none;
    visibility: hidden;
}

@media (min-width: 50em) {

    .cart-title button {
        display: block;
        visibility: visible;
    }

    .cart-title {
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .cart-title div {
        padding: unset;
    }

}