.cart-title {
    width: 100%;

    background: #222;

    border: 1px solid #666;

    font-weight: 400;

    border-radius: 100px;
    padding: 0 1rem;

    margin-bottom: 1rem;
    position: relative;

    backdrop-filter: blur(1px);
}

.cart-title h1 {
    font-size: 1.35rem;
    background: linear-gradient(90deg, #fff 30%, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart-price {

}

.cart-price .price-calculation {

} 

.cart-price .price-calculation-total {
    font-size: .8rem;
    color: #666;
}

@media (min-width: 40em) {
    .cart-title {
        width: max-content;
    }

    .cart-title h1 {
        font-size: 1rem;
    }
}