.shop-products {
    gap: .5rem;
}

.search-results {
    height: 500px;
}

.remove-search-input {
    background-color: transparent;

    border: none;

    top: 45%;
    right: 15px;

    transform: translate(0, -50%);
}

@media (min-width: 40em) {
    .shop-products {
        gap: 1rem;
    }
}

@media (min-width: 65em) {
    .shop-products .product .img-container {
        margin-right: 0;
    }
    .shop-products {
        gap: 2rem;
    }
}