/* MOBILE FIRST CSS - IHAWP.COM */

html { scroll-behaviour: smooth; box-sizing: border-box; font-family: sans-serif; }
*, *:before, *:after { box-sizing: inherit; margin: 0; padding: 0; }

body {
  background-color: #1d1d1d;
  color: #fff;

  font-size: 18px;
  line-height: 24px;
}

:root {

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: rgb(15, 15, 15, .15);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(22, 22, 22, 0.6);
  border-radius: 100px;
}

/* ----------------------------------------------------------- */
/* HEADERS */

h1, label { visibility: hidden; width: 0; height: 0; }

h2 { font-size: 2rem; line-height: 3rem; }

h3 { font-size: 1.5rem; line-height: 2.25rem; }

h4 { font-size: 1.25rem; line-height: 2rem; }

/* ----------------------------------------------------------- */
/* PARAGRAPH */

p {}

/* ----------------------------------------------------------- */
/* ANCHOR */

a {
  color: #fff;
}

/* ----------------------------------------------------------- */
/* LIST */

ul {
  list-style: none;
}

/* ----------------------------------------------------------- */
/* HEADER */

body > header {

}

main > header {

}

/* ----------------------------------------------------------- */
/* MAIN */

main {
}

section {
}

/* ----------------------------------------------------------- */
/* FOOTER */

footer {

}

/* ----------------------------------------------------------- */
/* MEDIA */

@media (min-width: 50em) {
  
}

@media (min-width: 75em) {

}

/* ----------------------------------------------------------- */
/* SINGLE PROPERTY CLASSES */

/* ----------------------------------------------------------- */
/* FLEX */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ----------------------------------------------------------- */
/* ALIGN ITEMS */

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

/* ----------------------------------------------------------- */
/* JUSTIFY CONTENT */

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* ----------------------------------------------------------- */
/* GAP */

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-2-5 {
  gap: 2.5rem;
}

.gap-3 {
  gap: 3rem;
}

/* ----------------------------------------------------------- */
/* FONT */

.fs-0-9 { font-size: 0.9rem; }

/* ----------------------------------------------------------- */
/* WIDTH */

.w-100 {
  width: 100%;
}