/* MOBILE FIRST CSS - IHAWP.COM */

html { scroll-behaviour: smooth; box-sizing: border-box; font-family: sans-serif; }
*, *:before, *:after { box-sizing: inherit; margin: 0; padding: 0; }

@font-face {
  font-family: "DM Sans";
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf');
}

body {
  background-color: #1d1d1d;
  color: #fff;

  font-size: 18px;
  line-height: 24px;
  font-family: "DM Sans";
  margin: .5rem;
}

:root {

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: rgb(15, 15, 15, .15);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(22, 22, 22, 0.6);
  border-radius: 100px;
}

/* ----------------------------------------------------------- */
/* HEADERS */

label { display: none; visibility: hidden; width: 0; height: 0; }

h1 { font-size: 2rem; line-height: 5rem; }

h2 { font-size: 2rem; line-height: 3rem; }

h3 { font-size: 1.5rem; line-height: 2.25rem; }

h4 { font-size: 1.25rem; line-height: 2rem; }

/* ----------------------------------------------------------- */
/* PARAGRAPH */

p {}

/* ----------------------------------------------------------- */
/* ANCHOR / <NavLink /> */

a {
  color: #fff;
  text-decoration: none;
}

/*
a.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}
*/

a.active {
  font-weight: 700;
}

/* ----------------------------------------------------------- */
/* LIST */

ul {
  list-style: none;
}

/* ----------------------------------------------------------- */
/* SVG */

svg {
  width: 35px;
  height: 35px;
  fill: #fff;
}

/* ----------------------------------------------------------- */
/* BUTTON */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ----------------------------------------------------------- */
/* HEADER */

body > header {

}

main > header, main > section {
  width: 100%;
}

/* ----------------------------------------------------------- */
/* MAIN */

main {
}

section {
}

/* ----------------------------------------------------------- */
/* FOOTER */

footer {

}

/* ----------------------------------------------------------- */
/* MEDIA */

@media (min-width: 50em) {

  body {
    margin: 1rem;
  }

  header svg {
    width: 20px;
    height: 20px;
  }

  main > header, main > section {
    width: 50rem;
  }
  
}

@media (min-width: 65em) {
  main > header, main > section {
    width: 65rem;
  }
}

/* ----------------------------------------------------------- */
/* SINGLE PROPERTY CLASSES */

/* ----------------------------------------------------------- */
/* FLEX */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ----------------------------------------------------------- */
/* ALIGN ITEMS */

.items-start {
  align-items: start;
}

.items-end {
  align-items: end;
}

.items-center {
  align-items: center;
}

/* ----------------------------------------------------------- */
/* JUSTIFY CONTENT */

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/* ----------------------------------------------------------- */
/* GAP */

.gap-0-5 {
  gap: .5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-2-5 {
  gap: 2.5rem;
}

.gap-3 {
  gap: 3rem;
}

/* ----------------------------------------------------------- */
/* FONT */

.fs-0-9 { font-size: 0.9rem; }

/* ----------------------------------------------------------- */
/* WIDTH */

.w-100 {
  width: 100%;
}

.w-50-sm-unset {
  width: 50%;
}

.w-1-rem {
  width: 1rem;
}

.w-4-rem {
  width: 4rem;
}

.w-unset {
  width: unset;
}

.w-1 {
  width: 100px;
}

.w-2 {
  width: 200px;
}

.min-w-1 {
  min-width: 100px;
}

.min-w-1-5 {
  min-width: 150px;
}

.min-w-2 {
  min-width: 200px;
}

.max-w-2 {
  max-width: 200px;
}

.max-w-3 {
  max-width: 300px;
}

/* ----------------------------------------------------------- */
/* HEIGHT */

.h-min {
  height: min-content;
}

.h-1 {
  height: 100px;
}

/* ----------------------------------------------------------- */
/* TEXT-ALIGN */

.text-center {
  text-align: center;
}

/* ----------------------------------------------------------- */
/* PADDING */

.p-0-5 {
  padding: .5rem;
}

.p-0-75 {
  padding: .75rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

/* ----------------------------------------------------------- */
/* MARGIN-TOP */

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

/* ----------------------------------------------------------- */
/* BORDER */

.bt-1 {
  border-top: 1px solid #666;
}

/* ----------------------------------------------------------- */
/* PADDING-X */

.px-0-5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* ----------------------------------------------------------- */
/* PADDING-TOP */

.pt-1 {
  padding-top: 1rem;
}

/* ----------------------------------------------------------- */
/* PADDING-BOTTOM */

.pb-1 {
  padding-bottom: 1rem;
}

/* ----------------------------------------------------------- */
/* PADDING-Y */

.py-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 50em) {
  .w-50-sm-unset {
    width: unset;
  }
}

/* form */

form {
  position: relative;
}

form input, button, .bubble {
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #555;
  color: #fff;
  font-size: .95rem;
}

button, .bubble {
  background-color: #333;
}

.bubble {
  user-select: none;
  height: 33px;
}

form input:focus {
  border-color: #fff;
}

form input::placeholder {
  color: #555;
}

#message-form input[type="text"], #message-form input[type="email"], #message-form input[type="password"] {
  padding: 1rem 8rem 1rem 2rem;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
  outline: none;
  width: 100%;
}

form button, .bubble {
  width: 7rem;
  right: .25rem;
  top: .25rem;
  border: 1px solid #555;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

form button {
  position: absolute;
}

button svg {
  width: 16px;
  height: 16px;
  fill: #555;
  transition: 0.25s ease;
}

.bubble svg {
  width: 20px;
  height: 20px;
  fill: #555;
}

form button:focus svg, form button:hover svg {
  transform: translate(0, -50px);
}

.send-text {
  opacity: 0;
  position: absolute;
  top: 150px;
  color: #777;
  transition: 0.25s ease;
}

form button:focus .send-text, form button:hover .send-text {
  opacity: 1;
  top: .75rem;
}