#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}

#anchor-list {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.25s ease;
    gap: 1rem;
    padding: 1rem .5rem 0;
}

#anchor-list.open {
    height: 125px;
    margin-bottom: 1rem;
}

.search-navigation, #search-form {
    width: 100%;
}

.search-navigation input[type="text"], .search-navigation input[type="email"], .search-navigation input[type="password"] {
    /* padding: .43rem 1rem .43rem 1rem; */
    padding: .43rem 2rem .43rem 1rem;
}

.search-navigation button[type="submit"] {
    padding: .35rem 1.4rem;
    top: .1rem;
    right: .1rem;
}

.search-navigation button[type="submit"]:hover .send-text, .search-navigation button[type="submit"]:focus .send-text {
    top: .3rem;
}

.navigation-button svg:first-of-type path {
    fill: white;
}

.navigation-button {
    color: #444;
}

#cart-navigation {
    gap: 2rem;
}

.cart {
    position: relative;
}

.cart-button {
    color: #999;
}

.display-sm {
    display: none;
}

@media (min-width: 50em) {

    .display-sm {
        display: block;
    }

    .none-sm {
        display: none;
    }

    #header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: max-content;
        flex-wrap: nowrap;
    }

    #main-navigation {
        order: 2;
    }

    #cart-navigation {
        order: 1;
        width: 250px;
    }

    .search-navigation {
        width: 250px;
    }

    .logo {
        width: 250px;
    }

    .logo.header {
        order: 3;
    }

    .logo a {
        width: min-content;
    }

    .logo.header svg {
        width: 35px;
        height: 35px;
    }

    .logo.footer svg {
        width: 20px;
        height: 20px;
    }

    #anchor-list {
        flex-direction: row;
        gap: 4rem;
        font-size: 16px;
    }

    #anchor-list.open {
        margin-bottom: none;
        height: unset;
    }
    
}